:host {
    display: flex;
    align-items: start;

    & > * {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.custom-header {
    display: flex;
    align-items: start;
    justify-content: space-around;
    border-bottom: 1px solid var(--charcoal-grey-color);
    mat-icon {
        display: block;
        margin: 0 auto 5px;
    }
    button {
        border: none;
        background: none;
        padding: 4px;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--charcoal-grey-color);
        text-align: center;
        border-bottom: 2px solid transparent;
        font-size: 11px;
        font-weight: bold;
        &:hover {
            color: var(--black-color);
        }
        &.active {
            color: var(--black-color);
            border-bottom-color: var(--primary-color);
        }
    }
}